:root {
  --main-bg: #19191a; /* 메인 및 섹션 배경색 */
  --font-white: #fdfdfd;
  --shadow-black: rgba(0, 0, 0, 0.7);
}

.main-section {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: block;
  background-color: var(--main-bg);
}

.main-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-text {
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 1;
  color: var(--font-white);
  text-shadow: 2px 2px 8px var(--shadow-black);
  text-align: left;
}

.main-text h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.main-text p {
  font-size: 22px;
  line-height: 1.6;
}
